<h1>Testimonial:</h1>

<p>
  Ninjas can kill anyone they want!  Ninjas cut off heads ALL the time and
  don't even think twice about it.  These guys are so crazy and awesome that
  they flip out ALL the time.  I heard that there was this ninja who was eating
  at a diner.  And when some dude dropped a spoon the ninja killed the whole town.
  My friend Mark said that he saw a ninja totally uppercut some kid just because
  the kid opened a window.
  And that's what I call <em>REAL Ultimate Power!!!!!!!!!!!!!!!!!!</em>
  If you don't believe that ninjas have REAL Ultimate Power you better get a
  life right now or they will chop your head off!!!  It's an easy choice, if you ask me.
  Ninjas are <em>sooooooooooo sweet</em> that I want to crap my pants.  I can't believe
  it sometimes, but I feel it inside my heart.  These guys are totally awesome
  and that's a fact.  Ninjas are fast, smooth, cool, strong, powerful, and sweet.
  I can't wait to start yoga next year.  I love ninjas with all of my body
  (including my pee pee).
</p>
