<article class="home">

  <div class="jumbotron">
    <h1 class="display-3">The Official Ninja Webpage</h1>

    <p class="lead">
      Hi, this site is all about ninjas, <em>REAL NINJAS</em>. This site is awesome.
    </p>

    <hr class="m-y-2">

    <p>
      My name is Robert and I can't stop thinking about ninjas.
      These guys are cool; and by cool, I mean totally sweet.
    </p>
  </div>

  <h2>Facts:</h2>

  <aside class="alert alert-info">
    <ol>
      <li>Ninjas are mammals.</li>
      <li>Ninjas fight <em>ALL the time</em>.</li>
      <li>The purpose of the ninja is to flip out and kill people.</li>
    </ol>
  </aside>

  <h2>Weapons and gear:</h2>

  <div class="card-group">
    <div class="card">
      <div class="card-block">
        <h4 class="card-title">Ninja Sword</h4>
      </div>
      <img class="card-img-bottom" src="../img/ninja_sword.jpg" alt="Ninja Sword">
    </div>

    <div class="card">
      <div class="card-block">
        <h4 class="card-title">Ninja Stars</h4>
      </div>
      <img class="card-img-bottom" src="../img/ninja_stars.jpg" alt="Ninja Stars">
    </div>

    <div class="card">
      <div class="card-block">
        <h4 class="card-title">Ninja Outfit</h4>
      </div>
      <img class="card-img-bottom" src="../img/ninja_outfit.jpg" alt="Ninja Outfit">
    </div>
  </div>

</article>
