<article class="faq">

  <h1>Q and A:</h1>

  <p>
    Q: <strong>Why is everyone so obsessed about ninjas?</strong>
    <br />
    A: Ninjas are the ultimate paradox. On the one hand they don't give a crap, but on the other hand, ninjas are very careful and precise.
  </p>

  <p>
    Q: <strong>I heard that ninjas are always cruel or mean.  What's their problem?</strong>
    <br />
    A: Whoever told you that is a total liar.  Just like other mammals, ninjas can be mean OR totally awesome.
  </p>

  <p>
    Q: <strong>What do ninjas do when they're not cutting off heads or flipping out?</strong>
    <br />
    A: Most of their free time is spent flying, but sometime they stab.  (Ask Mark if you don't believe me.)
  </p>

  <figure>
    <img src="img/ninja_rock_climbing.jpg" alt="ninja_rock_climbing">
    <figcaption>
      This is a picture of my best friend Mark showing off.
      He's a lot older than me and almost done with puberty,
      which is bragable.
    </figcaption>
  </figure>

</article>
